* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main{
  width: 100vw;
  height: 100vh;
}

section{
  background-image: url('img/milano.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

img{
  position: relative;
  width: 100vw;
  height: 100vh;
}

h2{
  text-align: center;
  position: relative;
  top: 0%
  /* background: green; */


}
